<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Journey Beyond Maps:<br><span>Embark on a Continental Odyssey!</span>
        </h1>
        <p class="mb-4 pb-0">Continents: Bridging Borders, Shaping Cultures.</p>
        <a href="https://www.youtube.com/watch?v=NQ4CUw9RcuA" class="glightbox play-btn mb-4"></a>
        <a href="#continents" class="about-btn scrollto">See All Continents</a>
    </div>
</section><!-- End Hero Section -->

<!-- ======= About Section ======= -->
<section id="about">
    <div class="container position-relative" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6">
                <h2>Explore the Globe</h2>
                <p>Welcome to Continent Explorer, your passport to a world of captivating diversity! Delve into the
                    heart of each continent and uncover its hidden gems – from the ancient mysteries of Asia to the
                    vibrant cultures of Africa. Embark on a virtual adventure where geography meets culture, and where
                    every click opens a new window into our planet's extraordinary tapestry.</p>
            </div>
            <div class="col-lg-3">
                <h3>Created for you</h3>
                <p>Specifically created to give you a taste of adventure!</p>
            </div>
            <div class="col-lg-3">
                <h3>Accessible</h3>
                <p>Browse through continents at any time, anywhere</p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

<!-- ======= continents Section ======= -->
<div id="continents">
    <section id="speakers">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>All Continents</h2>
                <p>Here is the list of continents in the world</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                        <img src="https://images.unsplash.com/photo-1606330109421-49625ac1380c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                            alt="Speaker 1" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/asia']">ASIA</a></h3>
                            <p>The largest and most populous continent ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/asia']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="200">
                        <img src="https://images.unsplash.com/photo-1626695436755-3e288720849c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80"
                            alt="Speaker 2" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/africa']">AFRICA</a></h3>
                            <p>A continent of contrasts ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/africa']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                        <img src="https://images.unsplash.com/photo-1580841130050-6d53d4cfc4b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80"
                            alt="Speaker 3" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/north-america']">NORTH AMERICA</a></h3>
                            <p>North America boasts varied geography ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/north-america']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                        <img src="https://images.unsplash.com/photo-1544906243-a69767cc000b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                            alt="Speaker 4" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/south-america']">SOUTH AMERICA</a></h3>
                            <p> A land of extremes, housing the Amazon Rainforest ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/south-america']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="200">
                        <img src="https://images.unsplash.com/photo-1589262804704-c5aa9e6def89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80"
                            alt="Speaker 5" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/europe']">EUROPE</a></h3>
                            <p>A continent rich in history, art, and architecture ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/europe']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                        <img src="https://images.unsplash.com/photo-1515861461225-1488dfdaf0a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                            alt="Speaker 6" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/australia']">AUSTRALIA (OCEANIA)</a></h3>
                            <p>Both a country and a continent, surrounded by the Pacific Ocean ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/australia']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                        <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=874&q=80"
                            alt="Speaker 6" class="img-fluid">
                        <div class="details">
                            <h3><a [routerLink]="['continents/antarctica']">ANTARTICA</a></h3>
                            <p>The southernmost continent, characterized by its icy expanses ...</p>
                            <div class="social">
                                <a [routerLink]="['continents/antarctica']">Click to view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Speakers Section -->
</div>

<!-- ======= map Section ======= -->
<section id="venue">

    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>Map</h2>
            <p>See the world at a glance!</p>
        </div>

        <div class="row">
            <div class="col-lg-12 venue-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

</section><!-- End Venue Section -->

<!-- ======= contributors Section ======= -->
<section id="supporters" class="section-with-bg">

    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Contributors</h2>
            <p>Contributors that have made this bank of information possible</p>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/1.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/2.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/3.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/4.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/5.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/6.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/7.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="assets/img/supporters/8.png" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </div>

</section><!-- End Sponsors Section -->

<!-- ======= Subscribe Section ======= -->
<section id="subscribe">
    <div class="container" data-aos="zoom-in">
        <div class="section-header">
            <h2>Join Our Newsletter</h2>
            <p>Are you interested in receiving continential news updates? Subscribe below!</p>
        </div>

        <form method="POST" action="#">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 d-flex">
                    <input type="text" class="form-control" placeholder="Enter your Email">
                    <button type="submit" class="ms-2">Subscribe</button>
                </div>
            </div>
        </form>

    </div>
</section><!-- End Subscribe Section -->