<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h1><a [routerLink]="['']" routerLinkActive="router-link-active"
                            class="logo">Continent<span>Explorer</span></a></h1>
                    <p>
                        Welcome to Continent Explorer, your passport to a world of captivating diversity! Delve into the
                        heart of each continent and uncover its hidden gems – from the ancient mysteries of Asia to the
                        vibrant cultures of Africa. Embark on a virtual adventure where geography meets culture, and
                        where every click opens a new window into our planet's extraordinary tapestry
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']"
                                routerLinkActive="router-link-active">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['gallery']"
                                routerLinkActive="router-link-active">Gallery</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['faq']"
                                routerLinkActive="router-link-active">FAQ</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['contact-us']"
                                routerLinkActive="router-link-active">Contact us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#continents">Continents</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links mt-4">
                    <h3></h3>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/africa']"
                                routerLinkActive="router-link-active">Africa</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/asia']"
                                routerLinkActive="router-link-active">Asia</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/north-america']"
                                routerLinkActive="router-link-active">North America</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/south-america']"
                                routerLinkActive="router-link-active">South America</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/australia']"
                                routerLinkActive="router-link-active">Australia (Oceania)</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/europe']"
                                routerLinkActive="router-link-active">Europe</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['continents/antarctica']"
                                routerLinkActive="router-link-active">Antarctica</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Abuja, Nigeria <br>
                        <strong>Phone:</strong> +234 803 534 245<br>
                        <strong>Email:</strong> info@continentexplorer.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>ContinentExplorer</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>